.card {
    padding: 20px;
    background-color: white;
}

.card-title {
    font-size: 20px;
    margin-bottom: 15px;
}

.card-title-ppt {
    float: right;
    font-size: 20px;
    margin-bottom: 15px;
}

.chart-card {
    padding: 20px;
    margin-bottom: 40px;
    background-color: white;
}

.chart-card-ppt {
    height: 1000px;
    width: 2000px;
    padding: 20px;
    margin-bottom: 40px;
    background-color: white;
}

.table-odd {
    background-color: #F2F2F2;
}

.table-even {

}