.card {
    padding: 20px;
    background-color: white;
}

.card-title {
    font-size: 20px;
    margin-bottom: 15px;
}

.chart-title-ppt {
    text-align: right;
    font-size: 20px;
    margin-bottom: 15px;
}

.chart-card {
    padding: 20px;
    margin-bottom: 40px;
    background-color: white;
}

.chart-card-ppt {
    width: 100%;
    padding: 20px 20px;
    margin-bottom: 40px;
    background-color: white;
}

.table-odd {
    background-color: #F2F2F2;
}

.inside-chart-ppt {
    width: 100%;
}

.ant-table-thead > tr > th {
    background-color: #ececec;
}

.table-even {

}
.table-deep-red {
    background-color: rgb(255,185,185);
}

.table-light-red {
    background-color: rgb(255, 224, 224);
}
