.print {
    float: right;
}


.sider-content {
    width: 1280px;
    margin: auto;
}

.foot-a {
    color: #000c17;
}

@media screen and (max-width: 1400px) {
    .sider-content {
        width: 980px;
    }
}

@media screen and (max-width: 1030px) {
    .sider-content {
        width: 750px;
    }
}
